div{
	display: inline-block;
}
a{
	display: inline-block;
	width: 700px;
}
#block1{
	float: left;
}
#big{
	font-family: "century gothic";
	font-weight: 400;
	font-size: 40px;
	margin: 180px 0 0 300px;
}
#small{
	margin: 60px 0 10px 300px;
	font-size: 18px;
	font-family: "century gothic";
}


#but1{
	width: 180px;
	height: 60px;
	font-family: "century gothic";
	border-radius: 4px;
	border-width: thin;
	margin: 60px 0 0 300px;
	float: left;
}
#but2{
	width: 180px;
	height: 60px;
	font-family: "century gothic";
	border-radius: 4px;
	border-width: thin;
	margin: 60px 0 0 40px;
	background: none;
	position: relative;
	float: right;
}

img{
	background: none;
	border-width: thin;
	border-color: black;
	border-radius: 8px;
	width: 700px;
	height: 400px;
	position: absolute;
	margin: 60px 0 0 150px;
	padding: 100px;
	border-style: solid;
}