#img1{
	margin: 120px 0 0 350px
}
#sp{
	font-family: "century gothic";
	font-size: 20px;
	font-weight: 600;
	margin: 150px 0 0 200px;
	position: absolute;
	width: 500px;
}
#sp1{
	width: 400px;
	margin: 250px 0 0 200px;
	position: absolute;
	font-family: "century gothic";
}

#sp2{
	font-family: "century gothic";
	font-size: 20px;
	font-weight: 600;
	position: absolute;
	margin: 90px 0 0 350px;
}
#sp3{
	width: 400px;
	margin: 200px 0 0 350px;
	position: absolute;
	font-family: "century gothic";
}
#img2{
	margin: 60px 0 0 1000px;
}

#but{
	margin: 10px 0 0 1700px;
}
